.flex{
    display: flex;
    justify-content: space-around;
}
.block_font{
    background: #eeb3b3;
    color: black;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.font-rubik{
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
}
.font-sedgwick{
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}
.font-dancing {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.font-fjalla-one {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.font-indie-flower {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}