.flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.block_font{
    background: #eeb3b3;
    color: black;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.font-rubik{
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
}
.font-sedgwick{
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}
.font-dancing {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.font-fjalla-one {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.font-indie-flower {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

/*lesson2.2*/
.red-block{
    width: 100px;
    height: 100px;
    background: red;
    transition: 0.5s;
    margin: 50px;
}
.red-block:hover{
    border-radius: 50%;
    outline: 2px solid red;
    background: yellowgreen;
    transition: 1s ease-in;
    cursor: pointer;
}