body {
    font-family: "KoHo", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
}

/*HEADER************************************************/
header{
    height: 100vh;
    width: 100vw;
    background-image: url("images/bg-top.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3 {
    color: #000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 45px;
    margin: 0;
}

header span {
    color: #000;
    font-size: 25px;
    margin-top: 30px;
}

header button {
    width: 409px;
    height: 76px;
    border-radius: 5px;
    border: 1px solid rgba(156, 152, 152, 0.10);
    background: rgba(217, 217, 217, 0.60);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: "KoHo", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    margin-top: 40px;
}
header button:hover {
    background: #f56430;
}
.sec-left{
    background-image: url("images/image 3.png");
    background-size: cover;
    width: 35vw;
    height: 100%;
}
.sec-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35vw;
    height: 100%;
    background: #fff;
}
header div{
    display: flex;
    width: 70vw;
    height: 40vh;
}
/*    MAIN *******************************************/
main{
    background-image: url("images/Rectangle 4.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
/*    VIDEO ******************************************/
.video{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 35px;
}

.video__content{
    max-width: 63%;
    min-width: 300px;
    margin-top: 110px;
}
.video iframe{
    width: 63%;
    min-width: 300px;
    height: 533px;
}
.video h4{
    margin: 0;
    font-weight: 400;
}
.video p{
    margin: 0;
}
/*    PRODUCTS*/
.products{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 35px;
}
.products .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(83, 83, 83, 0.40);
    width: 453px;
    height: 700px;
    margin: 0 20px;
}
.products button{
    width: 409px;
    height: 76px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid rgba(156, 152, 152, 0.10);
    background: rgba(217, 217, 217, 0.60);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #6B6666;
    font-size: 35px;
    margin-top: 20px;
}
.products button:hover {
    background: #f56430;
    cursor: pointer;
}
.products img{
    margin: 25px 22px;
}
.item .item__title{
    margin-top: 32px;
}
.item .item__desc{
    margin-top: 22px;
}
.item .item__price{
    margin-top: 60px;
}