@media screen and (min-width: 0px) and (max-width: 599px) {

    header {
        height: 13vh;
    }

    .wrapper {
        flex-wrap: wrap;
        height: 85vh;
    }

    .left {
        width: 100%;
        height: 70vh;
    }

    .right {
        width: 100%;
        height: 13vh;
        margin-top: 2vh;
    }

}